@{
    ViewData["Title"] = "Home Page";
}

<body class="h-back">
    <div class="text-center">
        <h1 class="display-4">Добре дошли във фондация "Добрина"</h1>
        <p class="h-txt">Ние организираме благотворителни дейности и целим взаимопомощ. Готови сме да помогнем на всеки в беда и организираме почистващи дейности. Вие също сте свободни да даrите, осиновите или да участвате в почистваща дейност. Разбира се, ако и вие имате нужда, можете да подадете вашия зов за помощ, за когото ние ще се погрижим да не остане нечут. И нека заедно да направим света едно по-красиво място</p>
    </div>
</body>
